.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: stretch;
    min-height: 240px;
}

.item {
    margin: 24px;

    &.dynamic-checkboxes {
        flex: 3;
    }

    &.result {
        flex: 7;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

mat-form-field {
    display: block;
    margin: 24px;
}

.flag-checkbox-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    gap: 16px;
    font-size: large;
}

.result {
    margin-left: 24px;
    font-size: 48px;
}

.result-background {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 12px;
    left: 12px;
    color: gray;
}