.grid-container {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: min-content min-content min-content min-content;
}

mat-form-field {
    display: block;
    margin: 24px;
}

.grid-item {
    &.new-enum-button {
        grid-column: 1;
        grid-row: 1;
        margin: 24px;
    }

    &.saved-flag {
        grid-column: 1;
        grid-row: 2;
    }

    &.enum-name {
        grid-column: 1;
        grid-row: 3;
    }

    &.button-box {
        grid-column: 1;
        grid-row: 4;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 24px;
        gap: 16px;
    }

    &.enum-full-width {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: span 4;
    }

    &.instruction {
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: span 4;
        margin-top: 24px;
    }
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}