<div class="grid-container">
    <div class="grid-item new-enum-button">
        <button mat-raised-button
                color="primary"
                (click)="addNewEnum()">
            Add new Enum
        </button>
    </div>

    <mat-form-field class="grid-item saved-flags"
                    appearance="fill">
        <mat-label>Saved flag enums</mat-label>
        <mat-select [(value)]="selectedEnum"
                    (selectionChange)="savedEnumSelectionChanged()">
            <mat-option *ngFor="let savedEnum of savedEnums"
                        [value]="savedEnum">
                {{savedEnum.key}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="grid-item enum-name"
                    appearance="fill">
        <mat-label>Enum name</mat-label>
        <input matInput
               placeholder="Enter your new enum name here"
               [(ngModel)]="selectedEnum.key">
    </mat-form-field>

    <mat-form-field class="grid-item enum-full-width"
                    appearance="fill">
        <mat-label>Paste your enum flag here</mat-label>
        <textarea matInput
                  title="enumTextToParse"
                  rows="16"
                  [(ngModel)]="selectedEnum.value"></textarea>
    </mat-form-field>

    <div class="grid-item instruction">
        <p>Instruction: Copy and paste the enum code, exclude the enum class name and curly brace</p>
        <img src="../assets/instruction.gif"
             alt="instruction" />
        <p>You can read more on how to use Flag enums to store boolean values on my blog: </p>
        <a href="https://huntertran.github.io/blog/2022/04/24/Optimize-list-of-bool-values-in-C/">
            Optimize list of bool values in C#
        </a>
    </div>

    <div class="grid-item button-box">
        <button mat-raised-button
                color="primary"
                (click)="saveEnumLocally()">Save locally
        </button>
        <button mat-raised-button
                color="warn"
                (click)="deleteSelectedEnum()">Delete selected enum
        </button>
    </div>
</div>

<mat-divider></mat-divider>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Number to Enums">
        <number-to-enums [selectedEnum]="selectedEnum"></number-to-enums>
    </mat-tab>
    <mat-tab label="Enums to Number">
        <enums-to-number></enums-to-number>
    </mat-tab>
</mat-tab-group>