.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: min-content min-content min-content;
}

mat-form-field {
    display: block;
    margin: 24px;
}

.enum-input {
    font-size: 24px;
}

.result {
    margin: 24px;
    font-size: 24px;
    white-space: pre-line;
}